.image-container {
  position: relative;
  overflow: hidden;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 2s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
